<div id="overview-page" class="container-fluid d-flex flex-column">
    <div class="row w-100">
        <div class="col section-title">
            <h1>
                {{ 'navigation.overview' | translate }}
            </h1>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div *ngIf="overview && tiles"
    class="row flex-grow-1 justify-content-center text-center text-lg-left align-items-center">
        <div class="col-12 col-lg-6" id="overview-tile-wrap">
            <div class="overview-tile" style="background-color: {{tile.color}}" *ngFor="let tile of tiles">                  
                    <a href="{{ tile.href }}">
                        <div class="text-center">
                            <h3 class="font-weight-bold">
                                {{ tile.text }}
                            </h3>
        
                            <p>
                                {{ 'overview.' + tile.subText | translate }}
                            </p>
                        </div>
                    </a>
            </div>
        </div>
        <div class="col-12 col-lg-6 pt-5 pt-lg-0 pl-lg-5">
            <h2>
                {{ overview['title'][lang] }}
            </h2>

            <!-- <p class="font-weight-bold">
                {{ overview['subtitle'][lang] }}
            </p>
  
            <p class="text-muted">
                {{ overview['text'][lang] }}
            </p> -->
  
            <!-- <a class="font-weight-bold" href="#learn-more-page" >
                {{ 'overview.learnMore' | translate }}
                <i class="fas fa-angle-right ml-2"></i>
            </a> -->
        </div>
    </div>
</div>