<div id="initiative-page" class="container-fluid d-flex flex-column">
    <div class="row w-100">
        <div class="col section-title">
            <h1>
                #ЗаЕдно
            </h1>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div *ngIf="initiative"
    class="row flex-grow-1 justify-content-center text-center text-lg-left align-items-center">
        <div class="col-12 col-lg-6 pb-3 pb-lg-0 pr-lg-5">
            <h1>
                {{ initiative['text'][lang] }}
            </h1>
        </div>
        <div class="col-12 col-lg-6">
            <a href="https://github.com/bgprotest/bgprotest.com/blob/master/graphic_downloads/Graphic_ZaEdno.png?raw=true" target="__blank">
                <img src="https://github.com/bgprotest/bgprotest.com/blob/master/graphic_downloads/Graphic_ZaEdno.png?raw=true" alt="Graphic for a social media initative.">
            </a>
        </div>
    </div>
</div>