<div id="home-page" class="container align-items-center">
    <div class="row" *ngIf="imagesSources">
        <div class="col">
            <slideshow [imageUrls]="imagesSources"
            [autoPlay]="true"
            [lazyLoad]="imagesSources?.length > 1"
            [autoPlayWaitForLazyLoad]="true">
            </slideshow>
            <span id="moto" class="text-center">
                <!-- The Bulgarian people protest against the corruption spreading across the government in the past 30 years! -->
            </span>
        </div>
    </div>
</div>