<div id="home-page" class="container align-items-center">
    <div class="row" *ngIf="imagesSources">
        <div class="col">
            <slideshow [imageUrls]="imagesSources"
            [autoPlay]="true"
            [lazyLoad]="imagesSources?.length > 1"
            [autoPlayWaitForLazyLoad]="true">
            </slideshow>
            <div id="header-wrap">
                <div id="header">
                    <img src="assets/ne_ste_sami.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>