<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar>
            <span [ngClass]="data.icon" class="flag-icon"></span>
        </div>
        <mat-card-title>
            {{ data['city'][lang] }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ data['country'][lang] }}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{data.imageLink}}" alt="Photo of the protests in {{data['city']['en']}}." matTooltip="Credit: {{data.credit || 'anonymous'}}">
    <mat-card-actions class="text-center">
            <a *ngIf="data.facebookLink" href="{{data.facebookLink}}" target="__blank">
                <button *ngIf="data.facebookLink" mat-button>
                    Facebook
                </button>
            </a>
    </mat-card-actions>
</mat-card>