/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'

html
    scroll-behavior: smooth

body, h1, h2, h3, p, .mat-expansion-panel-header-title
    font-family: 'Rubik', sans-serif !important

.no-bottom-padding .mat-form-field-wrapper
    padding-bottom: 0rem !important

.container, .container-fluid
    padding-left: 3rem
    padding-right: 3rem
    padding-top: 3rem
    padding-bottom: 3rem

.section-title
    text-align: center!important
    
    h1
        font-size: 2rem !important

    mat-divider
        margin-bottom: 2rem

#abroad-page
    .mat-card-image
        margin-bottom: 0px !important

.mat-expansion-panel-body
    font-size: 1.25em !important
    line-height: 1.30em