.container
    background-color: black
    margin: 0 !important
    max-width: none
    color: white

#email-contact
    display: flex
    justify-content: center
    align-content: center
    flex-direction: column