<div class="container">
    <div class="row text-center">
        <div class="col-6 col-sm-4">
            <a href="https://www.facebook.com/bulgarian.community.germany" target="__blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
        </div>
        <div class="col-6 col-sm-4">
            <a href="https://www.instagram.com/bulgarians_germany" target="__blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
        <div class="col-12 mt-4 mt-sm-0 col-sm-4" id="email-contact">
            {{ 'general.contact' | translate }}: bulgarienprotest2020@gmail.com
        </div>
    </div>
</div>